body {
  background-color: #22222F;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  
  font-family: 'Helvetica Neue', 'Avenir Next', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  
  word-wrap: break-word;
}

/* header */
#header {
  
}

#header-title {
  
}

#header-title h1 {
  
}

#header-title h1 a,
#header-title h1 a:active,
#header-title h1 a:visited {
    text-decoration: none;
}


/* Post title */
h2 {
  text-decoration: none;
}
  
