---
layout: default
---
{% for post in paginator.posts %}
    <div class="list-post">
        {% if post.link %}
            <a href="{{ post.link }}">
                <div class="list-post-title">
                    {{ post.title }} 
                    <span class="link-arrow"> 
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            &raquo;
                        </a>
                    </span>
                </div>
            </a>
        {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="list-post-title">
                    {{ post.title }}
                </div>
            </a>
        {% endif %}
        
        <div class="list-post-date">
            <time>{{ post.date | date_to_string }}</time>
            {% if post.link %}
            <a href="{{ post.url | prepend: site.baseurl }}">
                         &bull; Permalink
            </a>
            {% endif %}
                                            
        </div>
    
    {% if post.content %}
        <div class="list-post-desc">
            {{ post.content }}
        </div>
    {% endif %}
  </div>
  <hr/>
  <div class="bottom-space"></div>
{% endfor %}

  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          &lt; previous
        </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          next &gt;
        </a>
      {% else %}

      {% endif %}
    </span>

  </div>
</div>
