<div class="embed-spotify">
    <iframe src="https://open.spotify.com/embed/album/{{ include.id }}}" 
        width="300" 
        height="380" 
        frameborder="0" 
        allowtransparency="true" 
        allow="encrypted-media"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</div>
<!-- to use this, put {% include spotifyAlbumPlayer.html id=page.spotifyId %} in the post 
     id= could be the id itself from the spotify embed code or a variable defined in the frontmatter. -->
     