---
layout: page
title: ""
permalink: /archive/link/
---

This is my link blogging archive. If you're looking for the others, you can find them here:

<a href="/archive">Blogging archive</a>
Photo archive
Micro archive


<div class="archive">
  <div class="archive-list">

  {% for post in site.posts %}
    {% for tag in post.tags %}

      {% if tag == 'link' %}
        <div class="archive-list-post">
          <a href="{{ post.url | prepend: site.baseurl }}">  
            <span class="archive-list-post-title">
              {{ post.title }}
            </span>
            <span class="archive-list-post-date">
              <time>| {{ post.date | date_to_string }}</time>
            </span>
          </a>
        </div> 
      {% endif %}

    {% endfor %}
  {% endfor %}
  </div>
</div>