---
layout: page
title: "Micro Archive"
permalink: /archive/micro/
---

This is my micro blogging archive. If you're looking for the others, you can find them here:<br>
<br>
<a href="/archive">Blogging Archive</a><br>
<a href="/archive/photo">Photo Archive</a><br>
<a href="/archive/link">Link Archive</a><br>
<br>

<div class="archive">
  <div class="archive-list">

  {% for post in site.posts %}
    {% for tag in post.tags %}

      {% if tag == 'micro' %}
        <div class="list-post">
            <div class="list-post-archive">
              {{ post.content }}
            </div>
            <div class="list-post-date">
              <time>{{ post.date | date_to_string }}</time>
              &bull;
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-date-perma">
                Permalink
              </a>
            </div>
        </div> 
      {% endif %}

    {% endfor %}
  {% endfor %}
  </div>
</div>