---
layout: page
title: ""
permalink: /archive/photo/
---

This is my photo blogging archive. If you're looking for the others, you can find them here:<br>
<br>
<a href="/archive">Blogging Archive</a><br>
<a href="/archive/link">Link Archive</a><br>
<a href="/archive/micro">Micro Archive<a><br>
<br>

<div class="archive">
  <div class="archive-list">

  {% for post in site.posts %}
    {% for tag in post.tags %}

      {% if tag == 'photo' %}
        <div class="archive-list-post">
          <a href="{{ post.url | prepend: site.baseurl }}">  
            <span class="archive-list-post-title">
              {{ post.title }}
            </span>
            <span class="archive-list-post-date">
              <time>| {{ post.date | date_to_string }}</time>
            </span>
          </a>
        </div> 
      {% endif %}

    {% endfor %}
  {% endfor %}
  </div>
</div>