---
layout: page
title: "Photo Archive"
permalink: /archive/photo/
---

This is my photo blogging archive. If you're looking for the others, you can find them here:<br>
<br>
<a href="/archive">Blogs</a> |
<a href="/archive/link">Links</a> |
<a href="/archive/micro">Micro</a><br>
<br>

<div class="archive">
    <div class="archive-list">
        {% for post in site.posts %}
            {% for tag in post.tags %}
                {% if tag == 'photo' %}
                    <div class="list-post">
                        <span>
                            {{ post.content | remove: '<p>' | remove: '</p>' }}<br>
                        </span>
                        <span class="archive-list-post-date">
                            <time>{{ post.date | date_to_string }}</time>
                            &bull;
                            <a href="{{ post.url | prepend: site.baseurl }}" class="post-date-perma">
                                Permalink
                            </a>
                        </span>
                    </div> 
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    </div>