<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="canonical" href="{{ site.url }}" />
</head>
<body>
  <header class="header">
	<div class="header-title">
		<a href="{{ site.url }}">this is a blog</a>
	</div>
	<nav class="header-nav">
		{% for nav in site.nav %}
		{% if nav.url contains 'http://' or nav.url contains 'https://' %}
		    <a href="{{ nav.url }}">{{ nav.name }}</a>
		{% else %}
		    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
		{% endif %}
		{% endfor %}
	</nav>
</header>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
