<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="http://thisisa.blog/css/main.css">
  <title>{{ site.title }}</title>
</head>
<body>
  <div id="header">
	<div class="header-title">
		<h1>
			<a href="{{ site.url }}">this is a blog</a>
		</h1>
	</div>
	<nav>
		<a href="/about">About</a>
		<a href="/archive">Archive</a>
		
		<!--
		{% for nav in site.nav %}
		{% if nav.url contains 'http://' or nav.url contains 'https://' %}
		    <a href="{{ nav.url }}">{{ nav.name }}</a>
		{% else %}
		    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
		{% endif %}
		{% endfor %}
		-->
	</nav>
</div>
<div class="container">
    {{ content }}
</div>
</body>
</html>
