---
layout: default
---
{% for post %}
<div class="post">
  {% if post.link %}
        <div class="post-title">
          <a href="{{ post.link }}" class="post-title">
            {{ post.title }} &raquo;
          </a>
        </div>
    {% else %}
      <div class="post-title">
        {{ page.title }}
      </div>
  {% endif %}
  <div class="post-date">
    <time class="post-date">{{ page.date | date_to_string }}</time>
    {% if post.link %}
    &bull;
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-date-perma">
      Permalink
    </a>
    {% endif %}
  </div>
  {{ content }}
</div>
{% endfor %}
